.toplevel_page_rn_pbwp_menu_page {
    letter-spacing: -0.5px;
}

div.ripple-effect-dash {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin: 20px;
}

div.ripple-effect-dash:hover {
    border: 1px solid #aaa;
    box-shadow: 3px 3px 3px #ddd;
}

div.ripple-effect-dash.error {
    color: red;
    font-weight: bold;
}

.ripple-effect-dash h2 {
    margin-top: 0;
}

.ripple-effect-dash textarea {
    width: 100%;
    text-align: center;
}

#ripple_effect_admin_settings_form h1,
#ripple_effect_admin_settings_form h2,
#ripple_effect_admin_settings_form h3,
#ripple_effect_admin_settings_form h4,
#ripple_effect_admin_settings_form h5,
#ripple_effect_admin_settings_form h6,
#ripple_effect_admin_settings_form p {
    font-family: Vazir!important;
}

.ripple-effect-dash div.setting {
    margin: 20px 0;
}

.ripple-effect-dash div.setting.inline {
    display: inline-block;
    margin-right: 20px;
}

.ripple-effect-dash div.btn-box {
    display: inline-block;
    margin-right: 10px;
}

.ripple-effect-dash label.label {
    display: inline-block;
    margin-right: 20px;
    margin-left: 5px;
}

.ripple-effect-dash label {
    font-weight: bold;
}

.ripple-effect-dash progress:before {
    content: attr(title);
    font-size: 0.8em;
    vertical-align: 0;
    /*Position text over the progress bar */
    position: relative;
    top: -4px;
    left: 78px;
}