.typed-cursor {
    opacity: 1;
    font-weight: 100;
    color: #fff;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    position: relative;
    top: -2px;
}


/*----------------------------------*/

a.btn-ripple-effect,
.btn-ripple-effect {
    text-decoration: none;
    outline: none;
    transition: all 0.6s ease-in-out;
    margin: 0 10px;
}

a.btn-ripple-effect:hover,
a.btn-ripple-effect:focus,
.btn-ripple-effect:hover,
.btn-ripple-effect:focus {
    text-decoration: none;
    outline: none;
}

.btn-ripple-effect:focus,
.btn-ripple-effect:active:focus,
.btn-ripple-effect.active:focus,
.btn-ripple-effect.focus,
.btn-ripple-effect:active.focus,
.btn-ripple-effect.active.focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-ripple-effect.view-demo.active {
    outline: none !important;
    box-shadow: none !important;
}

section.row-ripple-effect,
header.row-ripple-effect {
    margin: 0;
}


/*====Hero area==*/

.hero-area-fix {
    position: relative;
    width: 100%;
    content: '';
    background-size: cover;
    min-height: 900px;
    z-index: 1;
}


/*
.hero-area:before {
  content: '';
  position: absolute;
  left: 0px;
  width: 100%;
  top: 0px;
  z-index: 3;
  height: 100%;
  background-image: -moz-linear-gradient( 150deg, rgb(166,64,208) 0%, rgb(248,57,93) 100%);
  background-image: -webkit-linear-gradient( 150deg, rgb(166,64,208) 0%, rgb(248,57,93) 100%);
  background-image: -ms-linear-gradient( 150deg, rgb(166,64,208) 0%, rgb(248,57,93) 100%);
  opacity: 0.702;
}
*/

.hero-text {
    text-align: center;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.hero-text h1 {
    font-family: 'Vazir';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 60px;
}

.hero-text h3 {
    font-family: 'Vazir', sans-serif;
    color: #fff;
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 25px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    min-height: 40px;
}

.hero-text h4 {
    color: #fff;
    font-family: 'Vazir', sans-serif;
    font-size: 20px;
    margin-bottom: 60px;
}

.view-demo {
    font-family: 'Vazir';
    font-size: 13px;
    text-transform: uppercase;
    background: #fff;
    color: #191919!important;
    padding: 15px 62px;
    border-radius: 50px;
    margin-right: 15px;
}

.view-demo:hover {
    color: #f8395d!important;
}

.buy-now {
    font-family: 'Vazir';
    font-size: 13px;
    text-transform: uppercase;
    background: #fff;
    color: #191919;
    padding: 15px 62px;
    border-radius: 50px;
}

.buy-now:hover {
    color: #f8395d!important;
}